<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turnover-login</title>

    <link rel="stylesheet" href="./login.css">
  </head>

  <body>
    <div>
      <div class="" id="msgLoginPage">
        login page
      </div>
      <div class="" id="boxLogin">
        <div id="inputAccount">
          <input class="inputAccount" type="text" placeholder="ID">
          <input class="inputAccount" type="password" placeholder="Password">
          <input id="submitLogin" type="submit" value="LOGIN">
        </div>
      </div>
    </div>
  </body>

</html>
